[Libraries]
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

[Visual Studio]
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

[OS Files]
.DS_Store
Thumbs.db

[Others]
*.apk
*.aab
